.inputField {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем контейнер по горизонтали */
    width: 100%; /* Занимает 100% ширины родительского контейнера */
    max-width: 800px; /* Максимальная ширина */
    margin: 0 auto; /* Центрируем контейнер */
    position: relative;
}

.inputField > input {
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    border: 2px solid #2040A0;
    border-radius: 22px;
    outline: none;
    font-size: 16px;
    padding: 0 40px 0 25px; /* Добавляем отступ слева */
}

.searchIcon {
    position: absolute;
    right: 15px;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .inputField {
        max-width: 90%; /* Уменьшаем максимальную ширину на устройствах с экраном меньше 768px */
    }

    .inputField > input {
        height: 40px; /* Уменьшаем высоту на мобильных устройствах */
        font-size: 14px; /* Уменьшаем размер шрифта */
    }

    .searchIcon {
        font-size: 16px; /* Уменьшаем размер иконки */
    }
}

@media (max-width: 480px) {
    .inputField > input {
        height: 35px; /* Еще меньше высота для очень маленьких экранов */
        font-size: 12px; /* Еще меньше размер шрифта */
    }

    .searchIcon {
        font-size: 14px; /* Еще меньше размер иконки */
    }
}